#top-nav-bar-container {
  height: 1.5em;
  display: flex;
}

.top-nav-bar {
  font-family: "Albert Sans", sans-serif;
  width: 100%;
  height: 1.5em;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 50;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
}

.left-side {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30em;
  height: 100%;
}

.left-side *:not(.logo) {
  margin: 0;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.left-side *:not(#dynamic-props) {
  margin-left: 1em;
}

#dynamic-props *:hover {
  transform: scale(1.05);
}

#dynamic-props {
  display: flex;
  flex-direction: row;
}

.logo {
  color: white;
}

.right-side {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30em;
  height: 100%;
  color: white;
}

.right-side * {
  cursor: pointer;
}

#current-app {
  font-weight: bold;
}
